<h1>Send A Message</h1>

<form method="POST" action="/new">
<input name="name"type="text" placeholder="Name">
<textarea name="message" style="display:block; width: 50%;height:200px;" type="textArea" placeholder="message"></textarea>
<input type="submit" value="Send!">
</form>
